{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ title }}</h5>
                    <table>
                        <thead>
                        <tr>
                            <th>Nom client</th>
                            <th>Age</th>
                            <th>Nb bière acheté</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.name }}</td>
                                <td>{{ client.age }} ans</td>
                                <td>{{ client.numberBeer }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
