{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        {% if oneBeer %}
            <div class="col-12">
                <div class="card card__beers">
                    <div class="card-body">
                        <h5 class="card-title">{{ oneBeer.name }}</h5>
                        <p>Price : {{ oneBeer.price ?? 'aucune information' }} </p>
                        <p>Degree : {{ oneBeer.degree }} </p>
                        <p>{{ oneBeer.description }}</p>
                        <p><small>Date d'invention : {{ oneBeer.publishedAt | date('d/m/Y h:i:s') }} </small></p>
                        <img src="{{ asset('build/images/beer_00.jpg') }}" />
                        <p>Category :
                            {% for cat in oneBeer.categories %}
                                {{ cat.name }}{% if loop.index == 1 %},{% endif %}
                            {% endfor %}
                        </p>
                        <p>Country : {{ oneBeer.country.name }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucune bière</p>
        {% endif %}
    </div>
{% endblock %}
