<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{render(controller('App\\Controller\\BarController:mainMenu',
            {
                'routeName' : app.request.attributes.get('_route'),
                'categoryId' : app.request.attributes.get('id') ?? ''
            }
        ))}}
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    {% if title == 'Statistic' %}
                        <p>Nombre de clients : {{ clients|length }}</p>
                        <p>Moyenne de bière acheté : {{ avgBeers|number_format(2, '.', ',') }}</p>
                        <p>Écart type de la moyenne : {{ ecartType|number_format(2, '.', ',') }}</p>
                    {% elseif title == 'Consommation' %}
                        <p>Nombre de clients total : {{ clients18Nb+clients26Nb+clients36Nb+clients46Nb+clients56Nb }}</p>
                    {% else %}
                        Sidebar
                    {% endif %}
                </div>
                <div class="col-md-8">
                {% block body %}{% endblock %}
                </div>
            </div>
            </div>
        </div>
    </body>
</html>